<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tasks">
      <h2 data-cy="tasksDetailsHeading"><span>Tasks</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ tasks.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ tasks.name }}</span>
        </dd>
        <dt><span>Due Date</span></dt>
        <dd>
          <span>{{ tasks.dueDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Completed</span></dt>
        <dd>
          <span>{{ tasks.completed }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tasks', tasks.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
