<div>
  <h2 id="page-heading" data-cy="TasksHeading">
    <span>Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tasks"
        [routerLink]="['/tasks/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tasks </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tasks?.length === 0">
    <span>No tasks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tasks && tasks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Due Date</span></th>
          <th scope="col"><span>Completed</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tasks of tasks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tasks', tasks.id, 'view']">{{ tasks.id }}</a>
          </td>
          <td>{{ tasks.name }}</td>
          <td>{{ tasks.dueDate | formatMediumDate }}</td>
          <td>{{ tasks.completed }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tasks', tasks.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/tasks', tasks.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tasks)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
